footer{
  padding-bottom: 29px;
}
.footer__text {
  text-align: center;
  font-family: HelveticaNeueLTProMd, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #3b3b3b;
}
