.services {
  height: 835px;
  background-color: #181818;
}
.inverse .block__title{
  color: #ffffff;
}
.inverse .block__text{
  color: #777777;
}

.services__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 127px;
}
.services__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 340px;
}
.services__item:first-child{
  padding-right: 81px;
}
.services__item:last-child{
  padding-left: 82px;
}
.services__item-img {
  border: 6px solid #ffffff;
  border-radius: 50%;
  width: 172px;
  height: 172px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 43px;
}
.services__item-img .graph{
  width: 64px;
  height: 54px;
}
.services__item-img .heart{
  width: 73px;
  height: 63px;
}
.services__item-img .cloud{
  width: 64px;
  height: 55px;
}
.services__item-title {
  font-family: HelveticaNeueLTProLt, sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 31px;
}
.services__item-text {
  font-family: HelveticaNeueLTProLt, sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #383838;
  text-align: center;
}
