// &display=swap&suset=cyrilic-ext

@import "../css/null";
@import "fonts";
@import "header";
@import "about";
@import "../css/fontello";
@import "team";
@import "services";
@import "contact";
@import "footer";
.container{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@import "adaptive";